<div class="PerfilInfos">
  <%= form_for @login do |l| %>

    <p class="InfosPerfilson">
      <strong>Nome de Usuário: </strong>
      <%= l.text_field :username, class:'trecoupdate'%>
    </p>
    <br>
    <p class="InfosPerfilson">

      <strong>Email: </strong>
      <%= l.text_field :email, class:'trecoupdate' %>
    </p>
    <br>
    <p class="InfosPerfilson">

      <strong>Data de Nascimento: </strong>
      <%= l.date_field :idade, class:'trecoupdate' %>
    </p>
    <br>
    <p class="InfosPerfilson">

      <strong>Senha: </strong>
      <%= l.text_field :senha, class:'trecoupdate' %>
    </p>

    <p>
      <%= l.label 'Foto de Perfil (Somente URL)'%><br>
      <%= l.text_field :imgurl, id:'Txt' , class:'trecoupdate'%>
      <input type="button" name="Botao" value="Testar Imagem" onclick='mostrarimagem()'>
    </p>

    <p>
    <%= l.submit %>
    </p>
    <%end %>




</div>

<div class="PerfilImagen">
  <%= image_tag current_user.imgurl, class:"ImagemMesmo", id:'ImageTest' %>
  <div class="DeletarEditar">

    <div class="">
        <%= link_to 'Voltar', login_path(current_user), class:'Novo' %>
    </div>
    <div class="">
      <br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br>
      <%= link_to 'Deletar Conta', login_path(current_user),
                   method: :delete, data: { confirm: 'Are you sure?' } , class:'Novo'%>
    </div>



  </div>
</div>



<script type="text/javascript">
  var asteriscooos = '';

  function mostrarsenha(index, senha_Var)
  {


    if(index == 0)
    {
      var txt = document.getElementById('asterisco');
      asteriscooos = txt.innerText;
      txt.innerText = senha_Var;
      document.getElementById('botao').name = 1;
      document.getElementById('botao').value = "Esconder Senha";


    }else{
      var txt = document.getElementById('asterisco');
      txt.innerText = asteriscooos;
      document.getElementById('botao').name = 0;
      document.getElementById('botao').value = "Mostrar Senha";

    }


  }

  function mostrarimagem()
  {
    var imgg = document.getElementById('ImageTest');
    var urll = document.getElementById('Txt');
    imgg.src = urll.value;

  }

</script>
