<div class="PerfilInfos">
<p class="InfosPerfilson">
  <strong>Nome de Usuário: </strong>
  <%= @login.username %>
</p>
<br>
<p class="InfosPerfilson">

  <strong>Email: </strong>
  <%= @login.email%>
</p>
<br>
<p class="InfosPerfilson">

  <strong>Data de Nascimento: </strong>
  <%= @login.idade%>
</p>
<br>
<% if current_user == nil || current_user.id != @login.id  %>


<%else%>
<p class="InfosPerfilson">

  <strong>Senha: </strong>
  <p id="asterisco">
    <% for letra in 1..current_user.senha.length do%>
    *
    <%end%>
  </p>

  <input type="button" name="0" value="Mostrar Senha"
  onclick="mostrarsenha(this.name, <%=current_user.senha%>)" id="botao">

</p>

<%end%>


</div>

<div class="PerfilImagen">
  <%= image_tag @login.imgurl, class:"ImagemMesmo" %>
  <div class="DeletarEditar">

<% if current_user == nil  %>

<%else%>

<% if current_user.id == @login.id || current_user.admin  %>

<div class="">
  <%= link_to 'Editar', edit_login_path(@login.id), class:'Novo' %>
</div>

<div class="">
  <br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br>
  <%= link_to 'Deletar Conta', login_path(@login.id),
               method: :delete, data: { confirm: 'Are you sure?' }, class:'Novo' %>
</div>

<%end%>
<%end%>










  </div>
</div>



<script type="text/javascript">
  var asteriscooos = '';

  function mostrarsenha(index, senha_Var)
  {


    if(index == 0)
    {
      var txt = document.getElementById('asterisco');
      asteriscooos = txt.innerText;
      txt.innerText = senha_Var;
      document.getElementById('botao').name = 1;
      document.getElementById('botao').value = "Esconder Senha";


    }else{
      var txt = document.getElementById('asterisco');
      txt.innerText = asteriscooos;
      document.getElementById('botao').name = 0;
      document.getElementById('botao').value = "Mostrar Senha";

    }


  }

</script>
