<%= form_for @user do |l| %>

<% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>

  <div class="Novo">
    <p>
      <%= l.label :Username%><br>
      <%= l.text_field :username %>
    </p>
    <p>
      <%= l.label :Email%><br>
      <%= l.text_field :email %>
    </p>
    <p>
      <%= l.label :Senha%><br>
      <%= l.password_field :senha %>
    </p>
    <p>
      <%= l.label 'Confirme sua senha'%><br>
      <%= l.password_field :senha_confirmation %>
    </p>
    <p>
      <%= l.label 'Data de Nascimento'%><br>
      <%= l.date_field :idade %>
    </p>
    <p>
      <%= l.label 'Foto de Perfil (Somente URL)'%><br>
      <%= l.text_field :imgurl, id:'Txt'%>
    </p>
    <input type="button" name="Botao" value="Testar Imagem" onclick='mostrarimagem()'>
    <br>
    <%= l.label 'Preview Foto'%><br>
    <img src="" id="ImageTest" width="200px" height="200px">
    <p>
      <%= l.label 'Admin?'%><br>
      <%= l.check_box :admin %>
    </p>
    <p>
    <%= l.submit %>
    </p>

  </div>
<%end%>

<script type="text/javascript">

function mostrarimagem()
{
  var imgg = document.getElementById('ImageTest');
  var urll = document.getElementById('Txt');
  imgg.src = urll.value;

}


</script>
