<!DOCTYPE html>
<html>
<head>
  <title>blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% flash.each do |nome, mensagem| %>
<%= content_tag :div, mensagem, class: nome %>
<% end %>

<div class="menuzao">
<%= render 'welcome/header' %>
</div

<div class="menuzao">
<%= render 'welcome/allusers' %>
</div>


<div class="quadradao">

  <div class="resto">
  <%= yield%>
  </div>

</div>



</body>
</html>
